body {
    background-color: aquamarine;
}

h1 {
    color: deeppink;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 50px;
    text-align: center;
}

p {
    color: deeppink;
    font-size: 2em;
}

span {
    font-size: 2em;
}

img {
    width: 35%;
}